In [9]:
import pandas as pd

pd.read_parquet("C:/Users/86155/Desktop/CRYPTO_DAILY_DATA/BTCUSDT/klines_2024-06-02.parquet")

,Open_time,Open,High,Low,Close,Volume,Close_time,Quote_asset_volume,Number_of_trades,Taker_buy_base_asset_volume,Taker_buy_quote_asset_volume,Ignore
0,1717286400000,67766.84,67766.85,67766.84,67766.84,0.00893,1717286400999,605.157894,4,0.00130,88.096905,0
1,1717286401000,67766.85,67766.85,67766.84,67766.85,0.00742,1717286401999,502.830025,9,0.00725,491.309663,0
2,1717286402000,67766.85,67766.85,67766.84,67766.84,0.01579,1717286402999,1070.038507,38,0.01037,702.742234,0
3,1717286403000,67766.85,67766.85,67766.84,67766.84,0.17985,1717286403999,12187.867971,4,0.17974,12180.413619,0
4,1717286404000,67766.85,67766.85,67766.84,67766.85,0.01628,1717286404999,1103.244291,6,0.01354,917.563149,0
...,...,...,...,...,...,...,...,...,...,...,...,...
86395,1717372795000,67765.63,67765.63,67765.63,67765.63,0.00000,1717372795999,0.000000,0,0.00000,0.000000,0
86396,1717372796000,67765.62,67765.62,67765.62,67765.62,0.05431,1717372796999,3680.350822,4,0.00000,0.000000,0
86397,1717372797000,67765.62,67765.62,67765.62,67765.62,0.00000,1717372797999,0.000000,0,0.00000,0.000000,0
86398,1717372798000,67765.63,67765.63,67765.63,67765.63,0.00069,1717372798999,46.758285,1,0.00069,46.758285,0
86399,1717372799000,67765.63,67765.63,67765.62,67765.63,0.00819,1717372799999,555.000459,12,0.00311,210.751109,0